body {
  background-color: rgb(20, 20, 20);
  margin-inline: 50px;
  box-sizing: border-box;
}
.logo {
  height: 40px;
}
.avatar {
  height: 25px;
  vertical-align: middle;
}
.back {
  background-color: rgb(20, 20, 20);
}
i {
  cursor: pointer;
}
.marginTop {
  margin-top: 2.5rem;
}
.size {
  font-size: 0.7em;
}
footer {
  margin-top: 6rem;
}
.icon {
  font-size: 20px;
}
.testo {
  font-size: 12px;
  width: 130px;
}
.sizeButton {
  font-size: 12px;
}
